.DayCell{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex: 1;

  .DayOutOfMonth{
    color: var(--caption);
  }

  .DayOfMonth{
    color: var(--text)
  }
}

.CurrentDayCell{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  background-color: var(--primary);
  border-radius: 6px;

  .DayOutOfMonth{
    color: var(--caption);
  }

  .DayOfMonth{
    color: var(--text)
  }
}