.MonthCard{
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
  color: var(--text);

  min-width: 20%;
  max-width: 50%;

  .MonthNameContainer{
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MonthNameContainer:hover{
    color: var(--primary);
  }

  .WeekContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;

    .DayContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      flex: 1;

      .DayOutOfMonth{
        color: var(--caption);
      }

      .DayOfMonth{
        color: var(--text)
      }
    }

    .CurrentDayContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      flex: 1;
      background-color: var(--primary);
      border-radius: 6px;

      .DayOutOfMonth{
        color: var(--caption);
      }

      .DayOfMonth{
        color: var(--text)
      }
    }
  }
}